* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
}
body {
  background-color: rgba(30, 30, 30, 1);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: rgba(123, 74, 226, 0.05);
    width: 80%;
    border-radius: 20px;
    
   
}
.logo{
    position: absolute;
    width: 40px;
}
.navbar ul{
    
    display: flex;
    margin: 10px;
    gap: 20px;
    list-style: none;
    position: relative;
    float: right;
   
}
.navbar a{
   
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
.intro{
    display: flex;
    gap: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}
.name img{
    position: relative;
    width: 15px;
    
}
.name p{
    color: rgba(123, 74, 226, 1);
    background-color: rgba(123, 74, 226, 0.1);
    border-radius: 20px;
    width: 100px;
}
.name h2{
    color: white;
    font-size: 70px;
}
.skill-container{
    display: flex;
}
.skill{
    
    color: white !important;
    background-color: transparent !important;
}
.image img{
    border-radius: 50px;
    width: 400px;
    
}
.navbar a:hover{
color:rgba(123, 74, 226, 1); ;


}
.section-1{
    border: 2px solid rgba(123, 74, 226, 0.2);
    height: 100%;
    width: 100%;
    margin-top: 300px;

}
.page-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.page-2 div{

    border: 2px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    height: 200px;
    width: 246px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers content horizontally */
    justify-content: center; /* Centers content vertically (if needed) */
    
}
.page-2 div img{

    height: 70px;
    width: 80px;
}
.page-2 div h1{
    color: white;
}
.section1-div{
    background-color: rgba(123, 74, 226, 0.1);
    width: 898px;
    height: 110px;
    margin-top: 60px;
    border-radius: 10px;
    margin-left: 25%;
}
.section1-div{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 90px;
   margin-bottom: 100px;
}
.section1-div span{
    color: rgba(123, 74, 226, 1);
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}
.image{
    height: 300px;
    width: 300px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 100px;
    background: url(A_professional_digital_illustration_of_a_young_man.jpg);
    background-position: center;
    background-size: cover;
    
}
.introduction-div{
    gap: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
